﻿@page
@model GraphExample.Pages.IndexModel
@{
    ViewData["Title"] = "Тестовое приложение";
}

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/vis/vis.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>
<body class="MainWindow">
    <header class="container">
        <h3>Тестовое приложение разработал Арзуманов Сергей.</h3>
    </header>

    <div>
        <form id="graphForm">
            <div className="form-group">
                <label><strong>Координаты первого графика</strong></label>
                <input id="firstGraphInput" className="form-control" type="text" placeholder="Введите координаты, разделяя пробелом. (x1 y1 x2 y2 ...)" size="70" />
            </div>

            <div className="form-group">
                <label><strong>Координаты второго графика</strong></label>
                <input id="secondGraphInput" className="form-control" type="text" placeholder="Введите координаты, разделяя пробелом. (x1 y1 x2 y2 ...)" size="70" />
            </div>

            <!--<span id="errorField" className="text-danger"></span>-->

            <button type="submit" className="btn btn-primary">Сложить</button>
        </form>

        <div id="graph"></div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
    <script src="~/lib/fetch/fetch.min.js" type="text/javascript"></script>    
    <script src="~/lib/plotly/plotly-latest.min.js" type="text/javascript"></script>
    <script src="~/js/site.js" type="text/javascript"></script>
</body>
</html>